[submodule "crowd-fund/lib/forge-std"]
	path = crowd-fund/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "crowd-fund/lib/chainlink-brownie-contracts"]
	path = crowd-fund/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
